body {
    /* background-color:#ffafbd; */
    /* background-image: linear-gradient(#ddd6f3 5%, #faaca8 108%); */
    /* background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

background-color: #74EBD5;
background-image: linear-gradient(32deg, #74EBD5 0%, #9FACE6 100%);

   
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
  }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 130px;
  }

.profile-name {
      text-align: center;
      padding: 30px;
  }

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 1s; 
}

/* .bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
} */

a:hover {
    color: #000;
    background: #fff;
}

.icon-list{
  margin: 0 auto 0 auto;
  text-align: center;
  /* max-width: 1000px; */
}

.icon-list-img {
height: 30px;
width: 30px;
  margin: 5px;
}